body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
    margin-top: 290px;
	font-size: xx-large;
}

.quote-container {
	width: 80%;
	margin: 40px auto;
	padding: 60px;
    padding-top: 40px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

#quote {
	font-size: 24px;
	margin-bottom: 20px;
}

#generate {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

#generate:hover {
	background-color: #3e8e41;
}
